{% extends "base.html" %}
{% load static %}
{% block body %}
<script src="{% static 'charts-min.js' %}"></script>
<h1 class="uk-article-title">{{country_name}}</h1>
<div class="uk-container">
<ul class="uk-subnav uk-subnav-pill " data-uk-switcher="{connect:'#country-charts'}">
    {% for chart in config.values %}
    <li><a href="#">{{chart.name}}</a></li>
    {% endfor %}
</ul>
 <ul id="country-charts" class="uk-switcher">
{% for chart in data.keys %}
     <li>
         <div >
<canvas id="{{chart}}" width="400" height="200"></canvas>
         </div></li>
{% endfor %}
 </ul>
</div>
<script>
var ctx
var config = {{config|safe}}
{% for chart, values in data.items %}
   ctx = document.getElementById('{{chart}}').getContext('2d');
new Chart(ctx, {
          type: config['{{chart}}']['type'],
          data: {
            labels: {{year|safe}},
            datasets: [
              {
                data: {{values|safe}},
                label: config['{{chart}}']["name"],
              }
            ]
          }
        })
{% endfor %}
</script>
{% endblock body %}