<div class="modal fade" id="country-filter-model" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">country</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body scroll" id="include-charts" style="height: 500px">
          {% for cat, val in indexes.items %}
        <div class="card-header" id="heading-fo-{{cat}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#filter-for-{{cat}}" aria-expanded="true" aria-controls="filter-for-{{cat}}">
              {{cat}}
            </button>
          </h2>
        </div>
            {% for el, value in val.items %}
        <div id="filter-for-{{cat}}" class="collapse" aria-labelledby="heading-fo-{{cat}}" data-parent="#include-charts">
          <div class="card" style="padding: 3%">
            <div class="form-group">
              <div class="container">
              <input class="form-check-input" type="checkbox" value="{{el}}" name="{{value.name}}"
                     {% if value.checked %}checked="true"{% endif %} id="include-chart-{{el}}">
              <label class="form-check-label" for="include-chart-{{el}}">
                {{value.name}}
              </label>
            </div></div>
         <div class="form-group">
           <div class="row">
             <div class="col-4">
               <p> since <span id="year-since-{{el}}">{{value.range.0}} </span></p>
           </div>
           <div class="col-8">
        <input type="range" class="custom-range" min="2010" max="2020"
       step="1" id="year-range-{{el}}" refers-to="{{el}}" value="{{value.range.0}}" onchange="update_year_since(this)">
         </div>
           </div></div>
          <div class="form-group">
          <label for="plot-type-{{el}}">Plot type</label>
          <select class="form-control" id="plot-type-{{el}}" refers-to="{{el}}">
            <option {%if value.type == "bar" %}selected="true"{% endif %}>bar</option>
            <option {%if value.type == "line" %}selected="true"{% endif %}>line</option>
          </select>
        </div>
          </div>
        </div>

          {% endfor %}
        {% endfor %}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_charts_fields(true)">Save and refresh</button>
        <button type="button" class="btn btn-primary" onclick="update_charts_fields(false)"> Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="startup-filter-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Startup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <ul class="list-group">
           <li class="list-group-item">
        <input class="form-check-input" type="checkbox" selected="false" id="is-impact" style="margin-left: 5px">
              <label class="form-check-label" for="is-impact" style="margin-left: 30px">
                Startup with Impact
              </label>
           </li>
             <li class="list-group-item">
          <input class="form-check-input" type="checkbox" selected="false" id="is-innovation" style="margin-left: 5px">
              <label class="form-check-label" for="is-innovation" style="margin-left: 30px">
                innovative Startup
              </label>
             </li>
           <li class="list-group-item">
          <input class="form-check-input" type="checkbox" selected="false" id="is-awarded" style="margin-left: 5px">
              <label class="form-check-label" for="is-awarded" style="margin-left: 30px">
                Already awarded
              </label>
           </li>
           <li class="list-group-item">
          <input class="form-check-input" type="checkbox" selected="false" id="already-raised-funds" style="margin-left: 5px">
              <label class="form-check-label" for="already-raised-funds" style="margin-left: 30px">
                Startup Already raised funds
              </label>
           </li>
           <li class="list-group-item">
             <div class="row">
             <div class="col-5">
               Minimum years since foundation
             </div>
             <div class="col-7">
             <input type="range" class="custom-range" min="0" max="10"
            step="1" id="foundation-date" value="0">
               </div>
               </div>
           </li>
         </ul>

           </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="reorder-performance-indexes" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="width: 150%">
      <div class="modal-header">
        <h5 class="modal-title" id="kk">Reorder performance indexes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 500px; overflow:auto">
        <div class="row">
          <div class="col-md-6 shadow-sm no-gutters border rounded" >
            <div class="card">
              <div class="card-header">
            Included Indexes
                </div>
        <ul id="desired-order-sortable" class="list-group list-group-flush">
          {% for el, val in indexes_order.items %}
          <li class="list-group-item" id="desired-order-{{el}}" refers-to="{{el}}"
              style="{%if not val.chosen %}display:none{% endif %}">
            {{val.name}}
            <span refers-to="{{el}}" class="float-right" onclick="remove_from_order(this)"
            style="cursor: pointer"> x </span>
          </li>
          {% endfor %}
        </ul>
            </div>
      </div>
          <div class="col-md-6 shadow-sm no-gutters border rounded" >
            <div class="card">
              <div class="card-header">
              Non-included Indexes
                </div>
            <ul id="excluded-order-sortable" class="list-group list-group-flush">
          {% for el, val in indexes_order.items %}
          <li class="list-group-item" id="excluded-order-{{el}}" refers-to="{{el}}"
              style="{%if val.chosen %}display:none{% endif %}">
            {{val.name}}
            <span refers-to="{{el}}" class="float-right" onclick="add_to_order(this)"
            style="cursor: pointer"> + </span>
          </li>
          {% endfor %}
        </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_indexes_order(true)">Save and refresh</button>
        <button type="button" class="btn btn-primary" onclick="update_indexes_order(false)">Save changes</button>
      </div>
    </div>
  </div>
</div>

