        <div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">

                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>

                <div class="uk-panel">
                    <p><strong> SouthCruise</strong> | all rights reserved </br>
                    <a href="{% url 'contact_us' %}"> Contact Us <a></p>
                </div>

            </div>
        </div>

<!--<div class="tm-footer" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">-->
<!--            <div class="uk-container uk-container-center uk-text-center">-->

<!--                <ul class="uk-subnav uk-subnav-line uk-flex-center">-->
<!--                    <li><a href="#">Twitter</a></li>-->
<!--                    <li><a href="#">Facebook</a></li>-->
<!--                    <li><a href="#">LinkedIn</a></li>-->
<!--                </ul>-->

<!--                <div class="uk-panel">-->
<!--                    <strong> SouthCruise</strong> | all rights reserved </br>-->
<!--                    <a href="{% url 'contact_us' %}"> Contact Us <a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->