
<div class="row" style="margin-bottom: 100px">
  {% include "startups_table.html" %}
    <div class="col-5"  id="startup-detailed-detail" style="display:none">
        {%for row in startups_full_view %}
        <div class="card startup-detail-card"  id="startup-detailed-{{row.id}}"
             style="display:none">
                <div class="card" style="width: 100%; padding-bottom: 5px">
                    <h5 class="card-header">{{row.name}} <span class="badge badge-primary float-right">{{row.country__country_name}}
                    </span></h5>
                  <div class="card-body">

                    <p class="card-text">{{row.presentation}}</p>
                      <ul class="list-group list-group-flush">
                          {% if row.creation_date %}
                          <li class="list-group-item">
                              <span data-feather="calendar"></span>
                              Created on <b>{{row.creation_date}} </b></li>
                      {% endif %}
                          {% if row.activity_countries %}
                          <li class="list-group-item">
                              Operates in
                              {%for val in row.activity_countries %}
                              <span class="badge badge-primary">{{val}}</span> {% endfor %} </li>
                      {% endif %}
                          {% if row.reported_net_result %}
                          <li class="list-group-item">
                              Reported net result: <b>${{row.reported_net_result}}</b>
                          </li>
                          {% endif %}
                          {% if row.reported_net_debt %}
                          <li class="list-group-item">
                              Reported net debt: <b>${{row.reported_net_debt}}</b>
                          </li>
                          {% endif %}
                          {% if row.sectors %}
                          <li class="list-group-item">
                              Sectors
                              {%for val in row.sectors %}
                              <span class="badge badge-primary">{{val}}</span> {% endfor %} </li>
                      {% endif %}
                          {% if row.partnerships %}
                          <li class="list-group-item"> Partnerships: <b>{{row.partnerships}}</b></li>
                          {% endif %}
                          {% if row.growth_rate %}
                          <li class="list-group-item">Growth rate: {{row.growth_rate}}</li>
                          {% endif %}
                          {% if row.customers %}
                          <li class="list-group-item">Customers: {{row.customers}}</li>
                          {% endif %}
                          {% if row.operationals %}
                          <li class="list-group-item">Figures: <b>{{row.operationals}} </b></li>
                          {% endif %}
                          {% if row.performance %}
                          <li class="list-group-item">
                              {% for key, val in row.performance.items %}
                              <div class="card">
                                  <h5 class="card-header">{% if key ==  "func_raising" %} Fund raising{% else %}{{key}} {% endif %}</h5>
                                  <div class="card-body"></div>
                                  <canvas id="performance-index-{{key}}-{{row.id}}"></canvas>
                              </div>
                              {% endfor %}
                          </li>
                          {% endif %}
                      </ul>
                      {% if row.website %}
                    <a href="{{row.website}}" class="card-link" target="_blank">Visit website</a>
                      {% endif %}
                      {{row}}
                  </div>
                </div>
        </div>
        {% endfor %}

    </div>
</div>