
<div class="row">
<div class="col-12" id="grid-startup-detail">
<table data-toggle="table" data-pagination="true" >
    <thead>
    <tr>
        <th>Name</th>
        <th >Country</th>
        <th>Capital</th>
        <th>Creation date</th>
        <th>Number of employees</th>
        <th>Website</th>
    </tr>
    </thead>
    <tbody>
        {%for row in startups %}
        <tr>
            <td ><span onclick="show_global_startup_detail(this)" refers-to="startup-detailed-{{row.name}}"
            style="cursor:pointer">
                {{row.name}} </span></td>
            <td><span class="badge badge-pill badge-primary badge-{{row.country__country_code}}">
                {{row.country__country_name}}</span></td>
            <td>{{row.capital|floatformat}} $</td>
            <td>{{row.creation_date|date:'M  Y'}}</td>
            <td>{{row.number_of_employees}}</td>
            <td> <a href="{{row.website}}">{{row.website}}</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
</div>
    <div class="col-5"  id="startup-detailed-detail" style="display:none">
        {%for row in startups %}
        <div class="card startup-detail-card"  id="startup-detailed-{{row.name}}"
             style="display:none; padding: 10%">
            <h3>{{row.name}} </h3> <p> is a startup based in {{row.country__country_name}} created in {{row.creation_date|date:'M  Y'}}
            and with capital of {{row.capital|floatformat}} $ having {{row.number_of_employees}} employees </p>
            <p> visit at <a href="{{row.website}}">{{row.website}}</a></p>
        </div>
        {% endfor %}

    </div>
</div>