<div class="modal fade" id="reorder-startup-indexes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 150%">
            <div class="modal-header">
                <h5 class="modal-title">Decide startup indexes order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height: 500px; overflow:auto">
                <div class="row">
                    <div class="col-md-6 shadow-sm no-gutters border rounded">
                        <div class="card">
                            <div class="card-header">
                                Included Indexes
                            </div>
                            <ul id="desired-startup-order-sortable" class="list-group list-group-flush">
                                {% for el, val in startup_indexes_order.items %}
                                                <li class="list-group-item" id="desired-startup-order-{{el}}" refers-to="{{el}}" style="{%if not val.chosen %}display:none{% endif %}">
                                    <div class="row h-auto">
                                        <div class="col-8">
                                            <form>
                                                <div class="form-group">
                                                    <label for="startup-slider-weights-{{el}}">{{val.name}}</label>
                                                    <input type="range" class="form-control-range" id="startup-slider-weights-{{el}}" min="0" max="100" value="{{val.value}}" refers-to="{{el}}" onchange="update_indexes_weights(this, 'startup')">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-2">
                                            <p><span class="badge badge-primary" id="startup-span-value-for-{{el}}">{{val.value}} %</span></p>
                                        </div>
                                        <div class="col-1">
                                            <span refers-to="{{el}}" class="float-right" onclick="remove_from_order(this, 'startup')" style="cursor: pointer"> x </span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 shadow-sm no-gutters border rounded">
                        <div class="card">
                            <div class="card-header">
                                Non-included Indexes
                            </div>
                            <ul id="excluded-order-sortable" class="list-group list-group-flush">
                                {% for el, val in startup_indexes_order.items %}
                                <li class="list-group-item" id="excluded-startup-order-{{el}}" refers-to="{{el}}" style="{%if val.chosen %}display:none{% endif %}">
                                    <div class="row">
                                        <div class="col-8">
                                            {{val.name}}
                                        </div>
                                        <div class="col-3">
                                            <span refers-to="{{el}}" class="float-right" onclick="add_to_order(this, 'startup')" style="cursor: pointer"> + </span></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_startup_indexes_order(true)">Save and refresh</button>
                <button type="button" class="btn btn-primary" onclick="update_startup_indexes_order(false)">Save changes</button>
            </div>
        </div>
    </div>
</div>