<!--Template for displaying startup details-->
<div class="row" style="margin-bottom: 100px">
  {% include "registred_company/companies_table.html" %}
    <div class="col-5 overflow-auto"  id="company-detailed-detail" style="display:none; height: 500px">
        {% for row in companies %}
        <div class="card company-detail-card"  id="company-detailed-{{row.id}}"
             style="display:none">
                <div class="card" style="width: 100%; padding-bottom: 5px">
                    <h5 class="card-header">{{row.security}} <span class="badge badge-primary float-right">{{row.country__country_name}}
                    </span></h5>
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          {% for key, val in row.items %}
                          {% if key != "id" and key != "country__country_code" and key != "country__country_name"%}
                          <li class="list-group-item">
                              {{key}}: <b>{{val}}</b>
                          </li>
                          {% endif %}
                          {% endfor %}
                      </ul>
                  </div>
                </div>
        </div>
        {% endfor %}

    </div>
</div>