<!--Template used to display country charts-->
<div class="card">
    <div class="container flex" style="margin-top: 12px; margin-bottom: 12px; margin-right:0px">
        <div id="chart-maximize" maximized="false">
            <span class="float-right" data-feather="maximize" style="cursor:pointer" id="maximizer-icon-charts" onclick="maximize_minimize_charts(this)"></span>
            <span class="float-right" data-feather="minimize" style="cursor:pointer" id="minimizer-icon-charts" onclick="maximize_minimize_charts(this)" style="display:none"></span>
        </div>
    </div>
    <div id="tabs" class="project-tab container flex">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <select class="form-control" id="chart-select">
                            {% for per in performance %}
                            <option id="index-n-{{per.performance_index_id}}" refers-to="{{per.performance_index_id}}"> {{per.performance_index}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="tab-content" id="charts-container">
                        {% for per in performance %}
                        <div class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}" id="n-chart-tab-{{per.performance_index_id}}" role="tabpanel" refers-to="{{per.performance_index_id}}">
                            <canvas id="performance-chart-{{per.performance_index_id}}">

                            </canvas>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>