<!--Side bar, used to contain the filters-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Country filters</span>
          <a class="d-flex align-items-center text-muted">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
          {% include 'country_filters.html' %}
        </ul>
        <ul class="nav flex-column">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Company filters</span>
          <a class="d-flex align-items-center text-muted">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
          {% include 'registred_company/registred_company_filters.html' %}
        </ul>
      </div>
</nav>
